#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Weather Top 1000
  </h1>
  <p>
   Keeping you up-to-date and informed of all weather related issues in your region.
  </p>
  <p>
    WeatherTop is an app designed to let you record and store all weather related data.
    Please signup or login using the above menu.
    This is version 2.2.3 - beyond session control
  </p>
</section>
