#{extends 'main.html' /}
#{set title:'About' /}
#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui blue header">
        Welcome to Weather Top 1000
    </h1>
    <h3>
        Keeping you up-to-date and informed of all weather related issues in your region.
    </h3>
    <h3>
        Weather Top is an app designed to let you record and store all weather related data.
    </h3>
    <h4> Please signup or login using the above menu.</h4>
    <p>This is version 3.2 - Release 1</p>
    <p><strong>Note:</strong> Some extra features have been included in this release</p>
    <div class="ui bulleted list">
        <div class="item">User Accounts</div>
        <div class="item">Station/Readings Delete Support</div>
        <div class="item">Beaufort Labels</div>
    </div>
</section>
